// nextflow.config

// -- Define workflow parameters first --
// These will be accessible in the configuration below and in the workflow script.

workDir = 'nf-work'

params {
    input_vcf  = false
    outpur_dir = false

    // Reference Genome
    ref_dir   = "/home/bioinformatics/Reference/hg19/"
    ref_fasta = "ucsc.hg19.fasta"

    // VEP cache
    vep_cache = "/home/bioinformatics/VEP_cache"

    clinvar_vcf_name = "clinvar_20250504.vcf.gz"
    clinvar_custom_dir = "custom_db/hg19"       // VCF 在快取目錄下的子路徑
     
    // Annovar path
    annovar_path = '/home/bioinformatics/annovar'

}

// -- Enable Docker for all processes --
docker {
    enabled = true
    def userId = "id -u".execute().text.trim()
    def groupId = "id -g".execute().text.trim()

    //def userId = System.getenv('NXF_USER_ID') ?: '1000'
    //def groupId = System.getenv('NXF_GROUP_ID') ?: '1000'
    
    runOptions = "--user ${userId}:${groupId} -v ${params.ref_dir}:/ref_dir -v ${params.vep_cache}:/vep_cache -v ${params.output_dir}:/workdir"
 
}

// -- Tracing & Reporting --
// These settings generate detailed reports about the pipeline execution.
// They correctly reference the 'params.outdir' variable defined above.
// Only available for environment with 'ps'

//trace {
//    enabled = true
//    file    = "${params.output_dir}/pipeline_trace.txt"
//    fields  = 'task_id,process,tag,status,exit,name,hash,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
//}

//report {
//    enabled = true
//    file    = "${params.output_dir}/pipeline_report.html"
//}

//timeline {
//    enabled = true
//    file    = "${params.output_dir}/pipeline_timeline.html"
//}

//dag {
//    enabled = true
//    file    = "${params.output_dir}/pipeline_dag.html"
//}
